.v-content {
  font-family: $font !important;
}

.mrgn16 {
  margin-top: 16px;
  margin-bottom: 16px;

  &-bottom {
    margin-bottom: 16px;
  }

  &-top {
    margin-top: 16px;
  }
}

.mrgn24 {
  margin-top: 24px;
  margin-bottom: 24px;

  &-top {
    margin-top: 24px;
  }

  &-bottom {
    margin-bottom: 24px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-divider {
  height: 1px;
  width: 100%;

  &_light {
    background-color: $bg;
  }
}
