.text {
  font-size: 14px !important;
  line-height: 16px !important;

  &_xs {
    font-size: 10px !important;
    line-height: 11px !important;
  }

  &_sm {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  &_md {
    font-size: 16px !important;
    line-height: 20px !important;
  }


  &_lg {
    font-size: 18px !important;
    line-height: 150% !important;
  }

  &-decoration {
    text-decoration: underline;

    &-none {
      text-decoration: none;
    }
  }

  &_regular {
    font-weight: 400 !important;
  }

  &_medium {
    font-weight: 600 !important;
  }

  &_bold {
    font-weight: 700 !important;
  }

  &_grey {
    color: $grey !important;
  }

  &_black {
    color: $black !important;
  }

  &_white {
    color: white !important;
  }

  &_danger {
    color: $danger !important;
  }

  &_error {
    color: $error !important;
  }

  &_success {
    color: $success !important;
  }
}
